.pic_forgot{
    position: relative;
    display: flex;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: 20%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
}

.profile_forgot{

    position: relative;
    display: flex;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 6%;
    height: 6%;
    z-index: 1;
}
.rectangle_forgot{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
     align-content: stretch;
    align-items: stretch; 
     justify-content:normal; 
    margin-top: -4%;
    background: #EEF8FD;
    width: 30%;
    margin-left: 30%;
    /* border-radius:30%; */
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-end-end-radius: 10%;
    border-bottom-left-radius: 10%;
    padding: 5%;
}


.btn-login_after_update{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: 5%;
    flex-direction: column;
    margin-left: 38%;
    background: #00C694;
    border-radius: 20%;
    font-size: 120%;
    width: 25%;

}


.btn-sign{
    padding-top: 15%;
    padding-bottom:15%;
    padding-left:25%;
    padding-right:25%;
    font-size: 112%;
    margin-top: 40%;
    background: #00C694 ;
   color: #fff;
   /* font-family: */
}