.Rectangle{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
     align-content: stretch;
    align-items: stretch; 
     justify-content:normal; 
    margin-top: -4%;
    background: #EEF8FD;
    width: 30%;
    margin-left: 30%;
    /* border-radius:30%; */
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-end-end-radius: 10%;
    border-bottom-left-radius: 10%;
    padding: 5%;
}

.pic{
    position: relative;
    display: flex;
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: 20%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;

}

.profile{

  
    position: relative;
    display: flex;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    width: 6%;
    height: 6%;
    z-index: 2;
}

.input_sign{
    
    position: relative;
    display: flex;
    margin-top:7%;
    /* padding:0%; */
    /* align-content: space-around; */
    align-items: center;
    justify-content: center;
    /* border-radius: 30%; */
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-end-end-radius: 25%;
    border-bottom-left-radius: 25%;
}

input{
    /* border-radius: 30%; */
    border: none;
    font-size: 112%;
    text-align: center;
    padding:3%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-end-end-radius: 25%;
    border-bottom-left-radius: 25%;
}

button{
    
    /* border-radius: 30%; */
    border: none;
    font-size: 90%;
    text-align: center;
    margin-top:3%;
    padding:2%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-end-end-radius: 25%;
    border-bottom-left-radius: 25%;
}
.btn-s{

    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: stretch;
    padding: 2%;
    margin-top: 3%;
    align-content: space-around;
    align-items: center;
    width:80%;
    height: 50%;
    margin-left: 7%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-end-end-radius: 25%;
    border-bottom-left-radius: 25%;
    

}

.btn-sign{
    padding-top: 15%;
    padding-bottom:15%;
    padding-left:25%;
    padding-right:25%;
    font-size: 112%;
    margin-top: 40%;
    background: #00C694 ;
   color: #fff;
   /* font-family: */
}

.btn-shwo{

    padding-top: 5%;
    padding-bottom:5%;
    padding-left:15%;
    padding-right:15%;
    font-size: 100%;
    margin-top: 15%;
    width:150%;
    margin-left: -25%;
    background: #EEF8FD;

}